# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Data / models
data/
artifacts/
mlruns/

# VSCode / IDE
.vscode/
.idea/

# Secrets / env
.env
.env.*
*.pem
*.key

# Jupyter
.ipynb_checkpoints/

# DVC
*.dvc
.dvc/